<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Facebook</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content LogoImageDiv">
        <img src="/Graphics/MiniFacebookLogo.jpg" class="LogoImage">

        @if (Session["UserLogin"] != null)
        {
            <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off"
                    onclick="location.href='@Url.Action("Logout", "Authorization")'">
                @MiniFacebook.LanguagesResources.FrontendText.Logout
            </button>
        }

    </div>

    <div class="container body-content">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <div class="footer-copyright text-center py-3">
        © 2018 Copyright:
        <a href="https://www.linkedin.com/in/tomasz-kontek-073159138/"> Tomasz Kontek (Kontekst)</a>
    </div>
</body>
</html>
