@model MiniFacebook.Models.Administrator.IndexModel

@if (@ViewBag.InitializationUsersSuccess != null)
{
    <p>@MiniFacebook.LanguagesResources.FrontendText.DatabaseInitializationSuccess</p>
}

@if (@ViewBag.DeleteUserSuccess != null)
{
    <p>@MiniFacebook.LanguagesResources.FrontendText.UserRemoved</p>
}

@if (@ViewBag.DeleteUserNotFound != null)
{
    <p>@MiniFacebook.LanguagesResources.FrontendText.DeleteUserNotFound</p>
}

@if (@ViewBag.InitializationAlreadyDone != null)
{
    <p>@MiniFacebook.LanguagesResources.FrontendText.InitializationAlreadyDone</p>
}

@if (@ViewBag.AdminCannotBeDeleted != null)
{
    <p>@MiniFacebook.LanguagesResources.FrontendText.AdminCannotBeDeleted</p>
}

@if (Model.IsDatabaseInitialized == false)
{
    @Html.ActionLink(@MiniFacebook.LanguagesResources.FrontendText.InitializeDatabase, "Init", "Administrator", null, new { @class = "btn btn-primary btn-large" })
    <hr />
}

<div class="row">
    @using (Html.BeginForm("AddNewUser", "Administrator"))
    {
        <p>
            <input name="login" type="text" value="" />
            <input type="submit" value="@MiniFacebook.LanguagesResources.FrontendText.AddUser" />
        </p>
    }
</div>

<p>@MiniFacebook.LanguagesResources.FrontendText.UsersListBelow</p>

<div class="container">
    @foreach (var user in Model.Users)
    {
        <div class="row">
            <div class="col-sm" style="display:inline-block;width:33%;">
                <p style="color: blue;font-size: 20px;">@user.Login</p>
            </div>

            <div class="col-sm" style="display:inline-block;width:33%;">
                <p style="color: blue;font-size: 20px;">@user.AccountCreationDate</p>
            </div>

            <div class="col-sm" style="display:inline-block;width:33%;">
                @if (user.Login != "admin")
                {
                    @Html.ActionLink((@MiniFacebook.LanguagesResources.FrontendText.Remove + " " + @user.Login), "DeleteUser", "Administrator", new { login = user.Login }, new { @class = "btn btn-danger btn-large" })
                }
            </div>
        </div>
    }
</div>
