@model MiniFacebook.Models.User.UserPageModel.

<p>@MiniFacebook.LanguagesResources.FrontendText.UsersFriendsListBelow</p>

<div class="container">
    @foreach (var user in Model.Users)
    {
        <div class="row">
            <div class="col-sm" style="display:inline-block;width:33%;">
                <p style="color: blue;font-size: 20px;">@user.Login</p>
            </div>

            <div class="col-sm" style="display:inline-block;width:33%;">
                <p style="color: blue;font-size: 20px;">@user.AccountCreationDate</p>
            </div>

            <div class="col-sm" style="display:inline-block;width:33%;">

                <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("RemoveFriend", "User", new { login = user.Login })'">@MiniFacebook.LanguagesResources.FrontendText.Remove @user.Login</button>

            </div>
        </div>
    }
</div>
